.LargeUser {
  border-style:solid;
  border-color:grey;
  border-width: 1px;
  margin: 1%;
}

.MedUser {
  border-style:solid;
  border-color:grey;
  border-width: 1px;
  margin: 1%;
}

.SmallUser {
  border-style:solid;
  border-color:grey;
  border-width: 1px;
  margin: 1%;
}

.LargeUser img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.MedUser img {
  height: 66px;
  width: 66px;
  border-radius: 50%;
}

.SmallUser img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
